[Desktop Entry]
Type=Application
Name=RKDevelopTool GUI
Comment=Flash and manage Rockchip devices
Exec=rkdeveloptool-gui
Icon=rkdeveloptool-gui
Categories=Development;
Keywords=Rockchip;rkdeveloptool;firmware;flash;maskrom;partition;
Terminal=false
